:root {
    --color-green: #31c48d;
    --color-white: #ffff;
    --color-dark-grey: #33333d;
    --color-medium-grey: #424250;
    --color-light-grey: #9ca3ae;
  }
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
  }
  body {
    margin: 0;
    background-color: var(--color-medium-grey);
    color: var(--color-white);
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  /* header */
  .header {
    text-align: center;
  }
  
  .header__title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-light-grey);
  }
  
  /* controls */
  .controls {
    background: yellow;
  }
  
  
  /* footer */
  
  .footer {
    background: var(--color-dark-grey);
    color: var(--color-light-grey);
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .footer__link {
    color: var(--color-white);
  }
  
  #bb {
    background-color: #31c48d;
    width: 60px;
}
  
